/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #5e1360;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-right: 15px;
}

.logo img {
    width: 80px; /* Aumentado de 50px para 80px */
    height: auto;
    vertical-align: middle;
}

header h1 {
    flex: 1;
    text-align: left;
    margin: 0;
}

header nav {
    margin-left: auto;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

h1, h2 {
    margin: 20px 0;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #5e1360; /* Mesma cor roxa do header */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #4a0f4c; /* Versão mais escura do roxo do header */
}

/* Aplicando o mesmo estilo para todos os botões */
button {
    padding: 10px;
    background-color: #5e1360; /* Mesma cor roxa do header */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a0f4c; /* Versão mais escura do roxo do header */
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
    
    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .logo img {
        width: 100px; /* Ainda maior na versão mobile para melhor visibilidade */
    }
    
    header h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    header nav {
        margin-left: 0;
        margin-top: 10px;
    }
}